* {
    box-sizing: border-box;
  }

html {
    font-size: 100%;
}


.board{
    display: flex;
    border: 2px solid black;
    height: 85vh;
    width: 85vw;
    flex-wrap: wrap;

}
.cell{
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.row{
    width: 85rem;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: stretch
}

